mixin videoSection(video={})
    .max-w-sm.rounded.overflow-hidden.shadow-lg.px-2.pt-4.m-2
        video.block.videoContent.w-full.h-64.object-cover.p-1(src=video.fileUrl controls autoplay="false")
        .px-6.py-4
            .flex.justify-start.items-center
                a(href=`/contents/${video.id}/detail`).text-gray-600.text-xl.mb-2.-mr-2.pr-3.break-words.w-full.videoTitle=video.title
                if loggedUser && video.creator === loggedUser.email
                    button.editVideoTitle.fas.fa-pencil-alt.text-gray-500.text-sm.mb-2
            .text-gray-600.text-sm.mb-2 created by #{video.creator}
            .text-gray-600.text-sm.mb-2 #{video.views} views
            .flex.justify-start.items-center
                .text-gray-600.mb-2.-mr-2.pr-3.break-words.w-full.videoDesc=video.description
                if loggedUser && video.creator === loggedUser.email
                    button.editVideoDesc.fas.fa-pencil-alt.text-gray-500.text-sm.mb-2
        .px-6.py-4
            each tag in video.tags
                span.videoTags.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-600.mx-1.mb-1.break-all ##{tag}
            if loggedUser && video.creator === loggedUser.email
                button.editVideoTags(id=video.id).fas.fa-pencil-alt.text-gray-500.text-sm.mb-2
        .px-6.py-4.block.w-full.self-end
            if loggedUser && video.creator === loggedUser.email
                .block
                    a(href=`/contents/delete-video/${video.id}`)
                        button.bg-red-600.text-white.py-1.px-4.mt-4.mx-1.rounded.w-sm(class='hover:bg-red-800') Delete